h1 {
  padding-top: 35px;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-align: center;
}

li {
  font-size: 24px;
  font-family: 'Helvetica';
  list-style-position:inside;
  text-align: left;
}

p{
  font-size: 24px;
  text-align: center;
}

#about-p {
  font-size: 18px;
  text-align: left;
  padding-left: 350px;
  padding-right: 325px;
}

#projects-p {
  font-size: 18px;
  text-align: center;
}

hr {
  margin-left: 100px;
  margin-right: 100px;
}

#top-hr {
  margin-bottom: 20px;
}

#bottom-hr {
  margin-bottom: 25px;
  margin-top: 100px;
}

table {
  margin: 0px auto;
}

#bottom-table {
  margin-bottom: 50px;
}

td {
  width: 200px;
  text-align: center;
  font-family: 'Helvetica';
  font-size: 12px;
}

#bottom-td {
  width: 200px;
}

img {
  border-radius: 50px;
}

body {
  background-color: #ede8e8;
  font-family: 'Lora', serif;
}
